################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/Libraries/v15/.suo
/.vs/slnx.sqlite
/ImageContainer/ImageContainer/obj
/ImageContainer/ImageContainerConsoleApp/obj/Debug/ImageContainerConsoleApp.csproj.CoreCompileInputs.cache
/ImageContainer/ImageContainerConsoleApp/obj/Debug
/ImageContainer/ImageContainerConsoleApp/obj/Release/ImageContainerConsoleApp.csproj.CoreCompileInputs.cache
